@model Assignment.Models.VModels.OrderVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.CustomerId" class="control-label"></label>
                <select asp-for="Order.CustomerId" class="form-control" asp-items="@Model.CustomerList">
                    <option disabled selected>---Select Customer---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderStatus" class="control-label"></label>
                <input asp-for="Order.OrderStatus" class="form-control" />
                <span asp-validation-for="Order.OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.RequiredDate" class="control-label"></label>
                <input asp-for="Order.RequiredDate" class="form-control" />
                <span asp-validation-for="Order.RequiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ShippedDate" class="control-label"></label>
                <input asp-for="Order.ShippedDate" class="form-control" />
                <span asp-validation-for="Order.ShippedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.StoreId" class="control-label"></label>
                <select asp-for="Order.StoreId" class="form-control" asp-items="@Model.StoreList">
                    <option disabled selected>---Select Store---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Order.StaffId" class="control-label"></label>
                <select asp-for="Order.StaffId" class="form-control" asp-items="@Model.StaffList">
                    <option disabled selected>---Select Staff---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary " asp-action="Index"> <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
